.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

/* About left side */
.about_me {
    width: 75%;
    aspect-ratio: 1/1.3;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        #D4C581,
        transparent
    );
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
}

.about_me_img {
    width: 100%;
    aspect-ratio: 1/1.7;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(25deg);
    transition: var(--transition);
}

.about_me_img:hover {
    transform: rotate(0);
}

/* About right side */
.about_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    position: relative;
    top: 25%;
}

.about_top {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   position: relative;
   top: 2%;
}

.sub1 {
    color: #69660E;
    font-size: 1.5rem;
}

.sub1_ {
    font-size: 3.5rem;
}

.about_card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    width: 25rem;
    height: 14rem;
    border-radius: 2rem;
    padding: 2.3rem;
    text-align: center;
    transition: var(--transition);
}

.about_card:hover {
    transform: scale(1.2);
    cursor: default;
}

.about_icon {
    margin-bottom: 1rem;
}

.about_card h3 {
    color: #6B3D00;
}

.about_content p {
    font-size: 1.25rem;
    margin: 2rem 0 2.6rem;
    color: #999632;
    position: relative;
    top: 35%;
    width: 110%;
    line-height: 3rem;
}

.button {
    position: relative;
    top: 45%;
}

/* for Macs */
@media screen and (max-width: 2000px) {
    .about_container {
        gap: 0;
    }
    .about_cards {
        gap: 2rem;
        position: relative;
        top: 4%;
        left: -10%;
    }
    .about_content p {
        width: 125%;
        position: relative;
        top: 2%;
        left: -6%;
    }
    .button {
        position: relative;
        top: -6.5%;
        left: 48%;
        font-size: 16px;
    }
}

/* For Small monitor */
@media screen and (max-width: 1200px) {
    .about_me {
        width: 80%;
        margin: 2rem auto 4rem;
        position: relative;
        top: 10%;
        left: -20%;
    }
    .about_cards {
        gap: 1rem;
        position: relative;
        top: 5%;
        left: 10%;
    }
    .about_card {
        position: relative;
        left: -35%;
        width: 22rem;
        height: 16.5rem;
    }
    .about_content p {
        width: 140%;
        position: relative;
        top: 5%;
        left: -12%;
    }
    .button {
        position: relative;
        top: -2%;
        left: 50%;
    }
    .about_top {
        left: 5%;
    }
}

/* For tablets -- about */
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
    .about_me {
        width: 48%;
        margin: 2rem auto 4rem;
        position: relative;
        top: 2%;
        left: -2%;
    }
    .about_content p {
        margin: 1rem 0;
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
        width: 110%;
        line-height: 3rem;
        position: relative;
        top: 0;
        left: -8%;
    }
    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        place-items: center;
        position: relative;
        top: 3%;
        left: 14%;
        font-size: 20px;
    }
    .about_card {
        height: 100%;
    }
    .button {
        position: relative;
        top: -5%;
        left: 40%;
        font-size: 22px;
    }
    .about_top {
        left: 10%;
        top: 4%;
    }
}
/* For mobile phones -- about */
@media screen and (max-width: 600px) {
    .about_container {
        gap: 3rem;
    }
    .about_me {
        width: 70%;
        margin: 0 auto 3rem;
        position: relative;
        left: 18%;
        top: -22%;
    }
    .about_cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        place-items: center;
        position: relative;
        top: -10%;
        left: 55%;
    }
    .about_card {
        width: 20rem;
        height: 11rem;
        border-radius: 2rem;
        padding: 0.8rem;
    }
    .about_card h2 {
        font-size: 1.3rem;
    }
    .about_card h3 {
        font-size: 1.1rem;
    }
    .about_content {
        text-align: center;
        padding: 1rem;
    }
    .about_content p {
        margin: 1rem 0;
        font-size: 20px;
        padding: 2rem;
        width: 160%;
        position: relative;
        top: -10%;
        left: -11%;
        line-height: 2rem;
    }
    .button {
        position: relative;
        left: 20%;
        top: -120px;
    }
    .about_top {
        left: 30%;
        top: -8%;
    }
}