header {
    height: 100vh;
    padding-top: 9rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.name {
    font-size: 3.5rem;
}

/* buttons */
.action {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* socials */
.header_socials {
    display: flex;
    flex-direction: row;    
    gap: 0.8rem;
    position: fixed;
    top: 95%;
    left: 25%;
    z-index: 1; 
}

/* me */
.me {
    background: linear-gradient(var(--color-primary-2), transparent);
    width: 40rem;
    height: 50rem;
    aspect-ratio: 1/1;
    position: relative;
    left: calc(50% - 20rem);
    margin-top: 4rem;
    border-radius: 100%;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
}
.me_pic:hover {
    transform: scale(1.1);
}

/* scroll arrow */
.scroll_down {
    position: relative;
    right: -2.3rem;
    bottom: 5rem;
}

.header_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* for Macs */
@media screen and (max-width: 2000px) {
    header {
        height: 140vh;
    }
    .me {
        left: 30%;
        width: 30rem;
        height: 40rem;
    }
    .header_top {
        margin-top: -80px;
        gap: 0rem;
    }
    .header_socials {
        top: 92%;
        left: 22%;
    }
}

/* For Small monitor */
@media screen and (max-width: 1200px) {
    .header_socials {
        flex-direction: column;
        top: 80%;
        left: 93.5%;
    }
    .header_top {
        position: relative;
        left: 3%;
    }.me {
        left: 25%;
    }
}

/* For tablets -- header */
@media screen and (max-width: 1024px) {
    header {
        height: 74vh;
    }
    .header_socials {
        bottom: 0;
    }
    .text-light {
        font-size: 2rem;
    }
    .me {
        width: 30rem;
        height: 40rem;
        position: relative;
        left: calc(50% - 16rem);
    }
    .header_top {
        position: relative;
        left: -1%;
    }
}
/* For mobile phones -- header */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        width: 72vh;
    }
    .text-light {
        font-size: 1.15rem;
    }
    .header_socials, .scroll_down {
        display: none;
    }
    .name {
        font-size: 2.5rem;
    }
    .me {
        width: 22rem;
        height: 30rem;
        position: relative;
        left: calc(50% - 11rem);
    }
}