.skill_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    position: relative;
    top: 8%;
}

.skill_container > div {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    padding: 2.4rem 5rem 1rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.skill_container > div:hover {
    transform: scale(1.1);
    cursor: default;
}

.skill_container > div h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #5A7D57;
}

.skill_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.skill_details {
    display: flex;
    gap: 1rem;
}

.check_icon {
    margin-top: 6px;
    color: #E89E00;
}

.sub2 {
    color: #69660E;
    font-size: 1.5rem;
    position: relative;
    top: 5%;
}

.sub2_ {
    font-size: 3.5rem;
    position: relative;
    top: 6%;
}

/* for Macs */
@media screen and (max-width: 2000px) {
    .skill_container {
        grid-template-columns: 1fr 1fr;
    }
}

/* For Small monitor */
@media screen and (max-width: 1200px) {
    .sub2 {
        position: relative;
        top: 5%;
        left: 4%;
    }
    .sub2_ {
        position: relative;
        top: 5%;
        left: 4%;
    }
    .skill_container {
        grid-template-columns: 1fr 1fr;
    }
    .skill_container > div {
        position: relative;
        top: -15%;
        left: -9%;
        height: 110%;
        font-size: 20px;
        filter: blur(0px);
    }
}

/* For tablets */
@media screen and (max-width: 1024px) {
    .skill_container {
        position: relative;
        top: 30%;
        grid-template-columns: 1fr;
        gap: 70px;
    }
    .skill_container > div {
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        position: relative;
        top: -60%;
        left: -3%;
        font-size: 25px;
    }
    .sub2 {
        position: relative;
        top: 10%;
        left: 10%;
    }
    .sub2_ {
        position: relative;
        top: 10%;
        left: 10%;
    }
}
/* For mobile phones */
@media screen and (max-width: 600px) {
    .skill_container {
        grid-template-columns: 1fr;
        position: relative;
        top: 80%;
        gap: 80px;
    }
    .skill_container > div {
        width: 114%;
        padding: 0.6rem;
        margin: 0 auto;
        position: relative;
        left: 7%;
        backdrop-filter: blur(0px);
    }
    .sub2 {
        position: relative;
        top: 43%;
        left: 28%;
    }
    .sub2_ {
        position: relative;
        top: 40%;
        left: 28%;
    }
}