.container.testimonials_container {
    width: 45%;
    position: relative;
    top: 5%;
}

.peer_img {
    width: 15rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.5rem solid var(--color-primary-2);
}
.peer_img:hover {
    transform: scale(1.2);
}

.name_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.icon {
    transition: var(--transition);
}

.icon:hover {
    transform: translateY(-50px);
    transform: translate(-20px, -40px) rotate(-10deg) scale(2);
}

.testimonial {
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem;
    user-select: none;
}

.testimonial p {
    color: #A38B24;
}

.sub4 {
    color: #69660E;
    font-size: 1.5rem;
}

.sub4_ {
    font-size: 3.5rem;
    color: var(--color-primary);
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5%;
}

/* For tablets */
@media screen and (max-width: 1024px) {
    .container.testimonials_container {
        width: 65%;
        position: relative;
        top: 2%;
    }
    .testimonial {
        position: relative;
        left: 4%;
    }
    .top {
        position: relative;
        top: 2%;
    }
}
/* For mobile phones */
@media screen and (max-width: 600px) {
    .container.testimonials_container {
        width: var(--container-width-1);
        position: relative;
        top: 244%;
        left: 3%;
    }
    .testimonial h2 {
        font-size: 1.8rem;
    }
    .testimonial p {
        line-height: 1.6rem;
        font-size: 1.4rem;
        padding: 1rem;
    }
    .top {
        position: relative;
        top: 246%;
        left: 6%;
        line-height: 40px;
    }
}