.container.testimonials_container {
    width: 45%;
    position: relative;
    top: 5%;
}

.peer_img {
    width: 15rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.5rem solid var(--color-primary-2);
}
.peer_img:hover {
    transform: scale(1.2);
}

.name_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.icon {
    transition: var(--transition);
}

.icon:hover {
    transform: translateY(-50px);
    transform: translate(-20px, -40px) rotate(-10deg) scale(2);
}

.testimonial {
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem;
    user-select: none;
}

.testimonial p {
    color: #A38B24;
    overflow: scroll;
    max-height: 400px;
}

.sub4 {
    color: #69660E;
    font-size: 1.5rem;
}

.sub4_ {
    font-size: 3.5rem;
    color: var(--color-primary);
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5%;
}

/* for Macs */
@media screen and (max-width: 2000px) {
    .top {
        position: relative;
        top: 30%;
    }
    .container.testimonials_container {
        position: relative;
        top: 23%;
    }
    .peer_img {
        width: 10rem;
    }
    .name_social h2 {
        font-size: 35px;
    }
    .testimonial p {
        font-size: 20px;
        line-height: 25px;
        max-height: 250px;
    }
}

/* For Small monitor */
@media screen and (max-width: 1200px) {
    .top {
        position: relative;
        top: 20%;
        left: 5%;
    }
    .container.testimonials_container {
        width: 65%;
        position: relative;
        top: 18%;
    }
    .testimonial {
        position: relative;
        left: 2%;
    }
}

/* For tablets */
@media screen and (max-width: 1024px) {
    .container.testimonials_container {
        width: 65%;
        position: relative;
        top: 10%;
        left: 12%;
    }
    .top {
        position: relative;
        top: 8%;
        left: 15%;
    }
    .peer_img {
        width: 20rem;
    }
    .testimonial p {
        font-size: 30px;
        line-height: 34px;
        max-height: 650px;
    }
}
/* For mobile phones */
@media screen and (max-width: 600px) {
    .container.testimonials_container {
        width: 95%;
        position: relative;
        top: 493%;
        left: 22%;
    }
    .peer_img {
        width: 16rem;
    }
    .testimonial h2 {
        font-size: 1.8rem;
    }
    .testimonial p {
        line-height: 1.5rem;
        font-size: 1.4rem;
        padding: 1rem;
        height: 400px;
    }
    .top {
        position: relative;
        top: 495%;
        left: 26%;
        line-height: 40px;
    }
}