.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    top: 8%;
}

.experience_container > div {
    background: var(--color-bg-2);
    padding: 2.4rem 5rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experience_container > div:hover {
    background: rgba(232, 217, 168, 0.4);
    border-color: var(--color-bg-2);
    cursor: default;
}

.experience_container > div h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #5A7D57;
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}

.check_icon {
    margin-top: 6px;
    color: #E89E00;
}

.sub2 {
    color: #69660E;
    font-size: 1.5rem;
    position: relative;
    top: 5%;
}

.sub2_ {
    font-size: 3.5rem;
    position: relative;
    top: 6%;
}

/* For tablets */
@media screen and (max-width: 1024px) {
    .experience_container {
        grid-template-columns: 1fr;
        position: relative;
        top: 24%;
    }
    .experience_container > div {
        width: 75%;
        padding: 2rem;
        margin: 0 auto;
        position: relative;
        left: 4%;
    }
    .sub2 {
        position: relative;
        top: 28%;
    }
    .sub2_ {
        position: relative;
        top: 27%;
    }
}
/* For mobile phones */
@media screen and (max-width: 600px) {
    .experience_container {
        grid-template-columns: 1fr;
        position: relative;
        top: 48%;
    }
    .experience_container > div {
        width: 114%;
        padding: 1.5rem;
        margin: 0 auto;
        position: relative;
        left: -2%;
    }
    .sub2 {
        position: relative;
        top: 51%;
        left: 3%;
    }
    .sub2_ {
        position: relative;
        top: 50%;
        left: 3%;
    }
}